
@{
    ViewBag.Title = "Account";
}

<h2>@ViewBag.Title</h2>


@Html.ActionLink("Login", "Authorize", "Account")
<br/>
@Html.ActionLink("Logout", "LogOutAccount", "Account")


<p>Username: @ViewBag.Username</p>
